@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  --primary-color: #28ffbf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}
input {
  margin: auto;
  display: block;
  width: 75%;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1.3px solid hsl(246, 25%, 77%);
  padding-left: 20px;
  outline: none;
  color: black;
  font-size: 1.1rem;
}
button {
  margin: auto;
  display: block;
  width: 75%;
  height: 60px;
  background-color: var(--primary-color);
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1.3px solid hsl(246, 25%, 77%);
  padding-left: 20px;
  outline: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
button:disabled {
  background-color: grey;
}

img {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
header {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
}
header p {
  margin-top: 2rem;
}

.trial-notice {
  width: 50%;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 7px hsla(150, 93%, 47%, 0.137);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}
.terms-notice {
  width: 75%;
  margin: 1rem auto;
}
.terms-notice span {
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  main {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
  header {
    background-color: white;
    width: 50%;
  }
  .trial-notice {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    background-color: var(--primary-color);
  }
  img {
    height: 300px;
    width: 100%;
    display: block;
  }
}
